@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600i,700&display=swap');

// ====================== Universal Reset & Main Styles ======================
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    font-size: 1.7rem;
    font-family: 'Source Sans Pro', sans-serif;

    &.dark-mode {
        background-color: #343434;
        color: #fff;
    }
}

h1,
h2 {
    text-transform: uppercase;
}


.toggle {
    position: fixed;
    top: 1.5rem;
    right: 2.5rem;
    width: 5rem;
    height: 2.6rem;
    border: 2px solid #343434;
    border-radius: 2rem;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2.2rem;
        height: 2.2rem;
        background-color: #343434;
        border-radius: 50%;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    &.active {
        border: 2px solid #FFF;
    }

    &.active::before {
        background-color: #FFF;
        left: 2.6rem;
    }
}


.container {
    &>* {
        margin: 3rem auto;
    }
}

ul {
    list-style: none;
}

.heading-secondary {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.heading-tertiary {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
}

// ============================================================================

.personal {
    text-align: center;
}

.certifications {
    width: 50%;
    margin-top: 4em;

    &__list {
        &--item {
            margin-bottom: 1.2rem;
            list-style: disc;
        }
    }
}

.skills {
    width: 20%;
    margin-top: 3em;
    text-align: center;

    &__list {
        &.first {
            margin-bottom: 1.5rem;
        }

        &--item {
            margin-bottom: 0.5rem;
        }
    }
}

.web-links {
    width: 40%;
    margin-top: 3rem;

    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &--item {
            padding: 0 2.5rem;

            &-link {
                padding-bottom: 0.3rem;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;

                &:link,
                &:visited {
                    text-decoration: none;
                    color: currentColor;
                    border-bottom: 2px solid transparent;
                }

                &:hover,
                &:active {
                    border-bottom: 2px solid currentColor;
                }
            }
        }
    }
}

.other-skills {
    width: 75%;
    margin-top: 3rem;

    &__list {
        &--item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;


            & p:first-child {
                margin-right: 2rem;
            }
        }
    }
}

.work {
    width: 50%;
    margin-top: 3rem;

    &-experience:not(:last-child) {
        margin-bottom: 3rem;
    }
}